@media (min-width: 1003px) {
    #menu {
        display: none;
    }
    .col {
        float: left;
    }


}

@media (max-width: 1002px) {
    .contact-infor p{
        margin-left: 0px ;
        display : block;
    }
    #nav li {
        display: block;
        float:none;
    }
    #nav {
        display: bldock;
    }
    #content .member-item {
        width: 100%;
    }
    #pt {
        margin-left: 0px;
    }
    #pt .ti-user {
        display: none;
    }
    #content .member-img {
        width: 70%;
        height: auto;
    }
    #content .about-text  {
        margin: 20px 0px 0px 0px ;
    }
    #content .content-section{
        padding: 20px;
    }
    #content .content-heading {
        letter-spacing: -2px;
    }
    #content .content-section2 .about-text{ 
        margin: 20px 0px 0px 0px ;
    }
    #content .content-section2 {
        padding: 20px ;
        margin-top: 20px;
    }
    #content .content-section3 {
        margin-top: 20px;
        padding: 30px;
        height: 415px;
    }
    #content .line {
        margin-left: 30px;
        height: 20px;
    }
    #content .htmlcss span{
        font-weight: 600;
        font-size: 18px;
        margin-left: 30px;
    }
    #content .html {
        width: 65%;
    }
    #content .css {
        width: 75%;
    }
    #content .js {
        width: 40%;
    
    }
    #content {
        padding:20px;
    }
    .col-half {
        width: auto;
        margin-top: 4px;
    }
    .col {
        padding :0px;
    }
    .contact-infor {
        margin-bottom : 30px;
    }
    .contact-infor p {
        font-size: 17px;
    }
    .col .row {
        margin-right : 0px;
    }
    .send {
        margin-right: 0px;
    }
    
}